streamlit
langchain
langchain-community
langchain-huggingface
chromadb
sentence-transformers
pypdf
protobuf==3.20.3
torch
torchvision
google-generativeai
langchain-groq
langchain-google-genai==2.0.10
